body {
    background-color: white;
    color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Borel";
    font-weight: 400;
}

@font-face {
    font-family: "Borel";
    font-style: normal;
    src: url(../assets/fonts/inter-roman-latin.Di8DUHzh.woff2);
    font-weight: 200
}

@font-face {
    font-family: "Borel";
    font-style: normal;
    src: url(../assets/fonts/inter-roman-latin.Di8DUHzh.woff2);
    font-weight: 300
}

@font-face {
    font-family: "Borel";
    font-style: normal;
    src: url(../assets/fonts/inter-roman-latin.Di8DUHzh.woff2);
    font-weight: 400
}

@font-face {
    font-family: "Borel";
    font-style: normal;
    src: url(../assets/fonts/inter-roman-latin.Di8DUHzh.woff2);
    font-weight: 700
}

@font-face {
    font-family: "Coder";
    font-style: normal;
    src: url(../assets/fonts/GeistMono-Regular.woff2);
    font-weight: 300
}

@font-face {
    font-family: "-";
    font-style: normal;
    src: url(../assets/fonts/GeistMono-Regular.woff2);
    font-weight: 400
}

/*@font-face {*/
/*    font-style: normal;*/
/*    font-family: Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;*/
/*    font-weight: 400*/
/*}*/